*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    color: blueviolet;
    background-color: gold;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: blueviolet;
    top: 0;

}
header h1{
    color: white;
    font-weight:bold;
    font-size: 36px;
    margin: 0;
}
header nav{
    margin: 7px 0;
}
 header nav ul{
     flex-wrap: wrap;
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul li a{
     padding: 10px 15px;
     color: white;
     font-size: 1.5vw;
     font-weight: lighter;
     text-decoration: none;
 }

 /*hero section start*/
 .hero{
     background-image: url("../images/18.jpg");
     background-size: cover;
     display: flex;
     justify-content: right;
     flex-wrap: wrap;
     align-items: center;
     background-position: 80%;
     height: 500px;
    }

    .hero-quote{
        font-size: 30px;
        display: block;
        justify-content: end;
        text-align: right;
        color: white;
        padding-right: 100px;
    }
    .hero-quote h2{
        font-style: italic;
        color: gold;
    }
    
    /*about-me section start*/
    .about-me{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    .title{
        font-size: 40px;
        padding-right: 40px;
        border-right: 3px solid white;
        color: blueviolet;
        font-style: italic;
        min-width: 20%;
        max-width: 20%;
        min-height: 100%;
        text-align: right;
    }
    

    .about-me p{
        font-size: 21px;
        padding: 0 20px;
        line-height: 1.0;
        color: blueviolet;
        margin-top: 10px;
       
    }

    /*my projects section start*/
    .projects{
        display:flex;
        justify-content: space-between;
        margin: 40px 0px;
        padding: 30px 0;
        
    }
    .projects-grid-wrapper{
        width: 75%;
        height: 500px;
        display: flex;
        justify-content: center;
    }
    .projects-grid{
        width: 75%;
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: 
        "A B"
        "A C";
        gap: 10px;
    }
    .run-buddy{
        grid-area: A;
        background-image: url(../images/hero-bg.jpg);
    }
    .project{
        background-position: center;
        background-size:cover;
        border: solid;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-decoration: none;
        opacity: 0.5;
        color: black;
    }

    .horiseon{
        grid-area: B;
        background-image: url(../images/horiseon.png);
    }

    .robot-gladiators{
        grid-area: C;
        background-image: url(../images/robot-gladiator.webp);
    }
    .project:hover{
         opacity: 1.0;
    }

    .projects-label{
        color: blueviolet;
    }

    /*contact me section start*/
    footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
        margin-bottom: 30px;
        
    }

    
    .content-wrapper {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #contact-list {
        width: 60%;
    }
    
    footer ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        font-size: 30px;
        font-weight: bolder;
    }
    
    footer ul li {
       
        font-weight: bold;
    
    }
    
    footer ul li a {
        text-decoration: none;
        color: blueviolet;
        padding: 8px;
        font-weight: bold;
    }
    .title-3{
        font-size: 48px;
        margin-left: 39px;
        border-right: 3px solid white;
        padding-right: 25px;
        font-style: italic;
    }
    
    footer ul li a:hover{
        background: white;
        border-radius: 50%;
    }